<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title><%= title %></title>
    <style type="text/css">
        @import url('/stylesheets/bootstrap.min.css');
    </style>
</head>
<body>
    <div class="container">
        <h1>RaspCam Pic</h1>
        <div class="hero-unit">
            <button type="button" id="Refresh">Refresh</button>
            <p><img src="about:blank" alt="campic" id="CamPic" width="100%" /></p>
        </div>
        <div id="AvailableImages"></div>
    </div>
    <script>
        window.campic = {};
        window.campic.vars = <%= JSON.stringify(exports) %>;
    </script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/campic.js"></script>
</body>
</html>
